<div class="container mx-auto mt-8">
  <h1 class="text-4xl font-bold mb-4 text-center">酒場にいるぼうけんしゃたち</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @bravers.each do |braver| %>
      <%= render 'braver', braver: braver %>
    <% end %>
  </div>
</div>
